{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
      
      <form action='/main_scan' method='get' id='form1'>
        <div class="col-auto">
          <label for="region" class="form-label">Please choose the region to start with and press Submit</label>
          <select class="form-select form-select-lg mb-3" name="region" method="GET" action="/">
            {% for region in regions %}
              <option value="{{region}}" SELECTED>{{region}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-12">
          <button type="submit"  class="btn btn-primary mb-3" form="form1" value="Submit">Submit</button> 
        </div>
    </form>
{% endblock %}