{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %} 
   <table class="table sortable table-striped table-hover">
      <tr>
         <th scope="col">Region</th>
         <th scope="col">InstanceId</th>
         <th scope="col">InstanceType</th>
         <th scope="col" data-defaultsort="desc">avgCpuUtilization</th>
         <th scope="col">maxCpuUtilization</th>
      </tr>
      {{execution_output|safe}}
   </table>
   <table border=2 cellspacing=2 cellpadding=5>
      <tr>
         <td colspan="5">Average cpu utilization for the region is {{percent}}%. Request executed in {{rseconds}} seconds.</td>
      </tr>
   </table>
   {% endblock %}
   
   {% block scripts %}
      <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
   {% endblock %}
   </body>
